.admissions_input{
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 12px;
    height: 40px;
    border: 1px solid #abadb3;
}
.input_new{
    display: flex;
    margin-top: 16px;
    flex-direction: column;
}
.tab > .input_new:first-child{
    margin-top: 0;
}
label {
    text-align: left;
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}
.input_new span {
    /* display: table-cell; */
    /* padding: 0 0 0 5px */
}
.head_div{
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    font-size: 18px;
    float: left;
    border-top: 1px dotted #bcbcbc;
    border-bottom: 1px dotted #bcbcbc;
}
.top_con td {
    height: 40px;
    vertical-align: middle;
}
tr, tbody, table, td {
    border: 0 none;
}
table, td {
    border: 1px solid #dddddd;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
.input_in_table{
    font-size: 18px;
    width: 94%;
    border: 0px;
    padding: 3%;
    text-align: center;
    background-color: transparent;
}
.td_center{
    text-align: center;
}
.head_div_left{
    text-align: left;
    border:0px;
}
.pupil_detailsout, .parent_informationsout, .additional_pupils_informationsout{
    font-size: 18px;
    width: 100%;
    float: left;
}
table{
    width: 100%;
}
.td_left{
    padding: 0px 10px;
}
.marital_status_custody{
    width: 180px;
    padding: 3px;
    text-align: left;
}
.siblings{
    width: 220px;
}
.siblings_age{
    width: 60px;
}
.siblings_year{
    width: 120px;
}
.td_years_attended{
    width: 15%;
}
.td_year_group_form_grade{
    width: 15%;
}
.textarea_3{
    width: 100%;
    height: 30px;
}
.additional_pupils_information_div{
    float: left;
    margin-top: 20px;
}
.additional_pupils_information{
    width: 350px;
}
.additional_pupils_information_telephone{
    width: 280px;
}
.additional_pupils_information_mobile{
    width: 360px;
}
.btn_form_admissions{
    border: 1.9px solid #0d9f49;
    border-radius: 10px;
    float: left;
    color: #0d9f49;
    font-family: OpenSans-Regular;
    font-size: 22px;
    margin-top: 10px;
    padding: 1.5% 1%;
    text-align: center;
    text-decoration: none;
    width: 35%;
    width: 219px;
    font-weight: normal;
    padding: 6px 0px;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    float: right;
    position: relative;
    transition: all .35s;
    overflow: hidden;
    background: transparent;
}
.btn_form_admissions:hover{
    /* background-color: #0d9f49;
    color: #FFFFFF; */
}
.calendar_select{
    margin-right: 0px;
}
.calendar_select select{
    color: #333;
    font-size: 14px;
    border-radius: 4px;
    padding: 0 12px;
}
.calendar_select::before{
    border-radius: 0px;
}
select.select_in_table{
    border: 0px;
    text-align: center;
    background-color: transparent;
}
.admissions table tr td{
    font-size: 16px !important;
    font-weight: bold;
}
option{
    background-color: transparent;
}
.send_form{
    float: right;
}
.white_green_button{
    background-color: #FFFFFF;
}
input[type=radio].required, input[type=checkbox].required{
    outline: 1px solid red;
}
#admissions_ajaxLoading{
    display:none;
    width: 80px;
    height:15px;
    background-image: url('../../img/front/ajax-loader04.gif');
    background-repeat: no-repeat;
}
#admissions_result{
    font-family:OpenSans-Regular;
    color:#000000;
    font-size:13px;
    font-weight: bold;
    width: 100%
}
.ajax_result_admissions{
    margin-top: 5px;
    width: 100%;
    float:left;
}
.td_left{
    text-align: left !important;
    padding-left: 10px !important;
}
.developmental_history_out ul{
    float: left;
}
.developmental_history_out ul li{
    width: 100%;
    float: left;
    display: list-item;
}
.orange_head{
    border: 0;
    border-bottom: 2px solid #f5851f !important;
    color: #f5851f;
    font-size: 24px;
    justify-content: center;
    display: flex;
    padding: 16px 6px;
    margin-bottom: 16px;
    font-weight: bold;
    margin: 8px 0 35px;
    /* background-color: #f5851f;
    color: #FFFFFF;
    border: 0px;
    font-size: 24px;
    padding: 7px 0px;
    font-weight: bold; */
}
.input_description{
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #151515;
    text-align: left;
    text-transform: lowercase;
}
.tabIn3 .input_description{
    font-size: 14px;
    margin-bottom: 8px;
}
.hiddendiv{
    display: none !important;
}
/*multi-step-form*/
/* Style the form */
#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}
/* Style the input fields */
/*input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}*/
/* Mark input boxes that gets an error on validation: */
.invalid {
    background-color: #ffdddd !important;
}
/*input[type=radio].invalid, input[type=checkbox].invalid {
    outline: 1px solid red;
}*/
.agree_out{
    display: flex;
    align-items: center;
    margin: 16px 0 0;
}
/* Hide all steps by default: */
.tab {
    display: none;
}
/* Make circles that indicate the steps of the form: */
.step {
    height: 32px;
    width: 32px;
    margin-right: 8px;
    border: 2px solid #f5851f;
    border-radius: 50%;
    opacity: 0.5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}
/* Mark the active step: */
.step.active {
    opacity: 1;
    background-color: #f5851f;
    color: #fff;
}
/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #f5851f;
    color: #fff;
}
.i_agree{
    vertical-align: text-bottom;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.i_agree_label{
    cursor: pointer;
    margin: 0;
}
.td_center input[type="radio"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.admissions_result_success{
    color: #0d9f49 !important;;
}
.admissions_result_fail{
    color: #ff0000 !important;;
}
/* ===================== FILE INPUT ===================== */
.file-area {
  width: 100%;
  position: relative;

  input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }

  .file-dummy {
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px dashed rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: background 0.3s ease-in-out;

    .success {
      display: none;
    }
  }

  &:hover .file-dummy {
    background: rgba(255, 255, 255, 0.1);
  }

  input[type="file"]:focus + .file-dummy {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline: -webkit-focus-ring-color auto 5px;
  }

  input[type="file"]:valid + .file-dummy {
    border-color: rgba(0, 255, 0, 0.4);
    background-color: rgba(0, 255, 0, 0.3);

    .success {
      display: inline-block;
    }
    .default {
      display: none;
    }
  }
}

.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
  }
  .file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 95%;
    pointer-events: none;
    z-index: 20;
    height: 37px;
    line-height: 37px;
    padding-left: 12px;
    border: 1px solid #ccc;
    border-radius: 4px 10px 10px 4px;
    color: #151515;
    font-weight: 300;
  }
  .file-upload-wrapper:before {
    content: "Upload";
    position: absolute;
    top: 0;
    right: 0px;
    display: inline-block;
    height: 38px;
    background: #067b36;
    color: #fff;
    z-index: 25;
    font-size: 14px;
    line-height: 38px;
    padding: 0 15px;
    text-transform: capitalize;
    border-radius: 0 4px 4px 0;
  }
  .file-upload-wrapper:hover:before {
    background: #3d8c63;
  }
  .file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 38px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }
  